.pickers {
    background-color: #F0F0F0;
    
  }

  .text-white1{
    color: white;
    
  }
  .bg-general {
    background-color: var(--first-color);
    /* color: aqua; */
  }
  /* .text-white:hover{
    color: white;
  } */

  @media (max-width: 600px) {
    .table {
      width: 320px;
    }
  }